<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Gestion Admin Cam</title>
    <!-- Fonts -->
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">
	 <link rel="stylesheet" href="bibliotheque/font/css/all.min.css">
	 <link rel="stylesheet" href="dist/css/bootstrap.min.css">
	 
	 <link rel="icon" type="image/x-icon" href="bibliotheque/assets/favicon.ico" />
	
	<link href="bibliotheque/css/styles.css" rel="stylesheet" />
	
	<script src="bibliotheque/js/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script>
	    window.jQuery || document.write('<script src="bibliotheque/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="bibliotheque/vendor/vendor/popper.min.js"></script>
	<script src="bibliotheque/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Se connecter</div>

                    <div class="card-body">
                        <form method="POST" th:action="login">


                            <div class="row mb-3">
                                <label for="email"
                                    class="col-md-4 col-form-label text-md-end">Nom Utilisateur</label>

                                <div class="col-md-6">
                                    <input id="email" type="text"
                                        class="form-control "  name="username"
                                        value="" required autocomplete="" autofocus>



                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="password"
                                    class="col-md-4 col-form-label text-md-end">Mot de Passe</label>

                                <div class="col-md-6">
                                    <input id="password" type="password"
                                        class="form-control" name="password"
                                        required autocomplete="">


                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember"
                                            >

                                        <label class="form-check-label" for="remember">
                                            Se souvenir de moi
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Se connecter
                                    </button>


                                    <a class="btn btn-link" href="">
                                        Mot de passe oublié
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
