<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Gestion Admin Cam</title>
    <!-- Fonts -->
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">
	 <link rel="stylesheet" href="bibliotheque/font/css/all.min.css">
	 <link rel="stylesheet" href="dist/css/bootstrap.min.css">
	 
	 <link rel="icon" type="image/x-icon" href="bibliotheque/assets/favicon.ico" />
	
	<link href="bibliotheque/css/styles.css" rel="stylesheet" />
	
	<script src="bibliotheque/js/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script>
	    window.jQuery || document.write('<script src="bibliotheque/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="bibliotheque/vendor/vendor/popper.min.js"></script>
	<script src="bibliotheque/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="layouts/nav_admin::nav"></div><br><br><br>
    <section class="content" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">

                <div class="col-lg-8 col-xl-6 text-center">
                    
                    <hr class="divider" />
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-10">

                        <div class="card-header">
                              <form method="get" th:action="@{recherche_par_region_admin}" th:object="${region}">
							  <div class="form-row align-items-center">
							    <div class="col-auto">
							      <label class="sr-only" for="inlineFormInput">Name</label>
							      <input type="text" th:field="*{keyName}" class="form-control mb-2" id="inlineFormInput" placeholder="Mot clé">
							    </div>
							    
							    <div class="col-auto">
							      <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i> Rechercher</button>
							    </div>
							  </div>
							</form>
                              
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                            
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom Région</th>
                                        <th>Chef-lieu</th>
                                    </tr>
                                </thead>

                                <tbody th:if="${param.keyName != null}">
                                    <tr th:each="region: ${regionsS}">
                                        <td th:text="${region.id}"></td>
                                        <td th:text="${region.nomRegion}" style="width: 25%;"></td>
                                        <td th:text="${region.chefLieu}" style="width: 25%;"></td>

                                    </tr>


                                </tbody>
       
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom Région</th>
                                        <th>Chef-lieu</th>
                                        
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>
